<!--suppress ALL -->
<html>
<head>
  <meta charset="utf-8">
  <title>PICKUP DETAILS FORM</title>
  <style type="text/css">
    body {
      background-image: url('airline.jpg');
      color: #5a5656;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 1.5em;
    }
    a { text-decoration: none; }
    h1 { font-size: 1em; }
    h1, p {
      margin-bottom: 10px;
    }
    strong {
      font-weight: bold;
    }
    .uppercase { text-transform: uppercase; }

    /* ---------- LOGIN ---------- */
    #login {
      margin: 50px auto;
      width: 300px;
    }
    form fieldset input[type="text"], input[type="password"] {
      background-color: #e5e5e5;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #5a5656;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 14px;
      height: 50px;
      outline: none;
      padding: 0px 10px;
      width: 280px;
      -webkit-appearance:none;
    }
    form fieldset input[type="submit"] {
      background-color: #008dde;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #f4f4f4;
      cursor: pointer;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      height: 50px;
      text-transform: uppercase;
      width: 300px;
      -webkit-appearance:none;
    }
    form fieldset a {
      color: #5a5656;
      font-size: 10px;
    }
    form fieldset a:hover { text-decoration: underline; }
    .btn-round {
      background-color: #5a5656;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #f4f4f4;
      display: block;
      font-size: 12px;
      height: 50px;
      line-height: 50px;
      margin: 30px 125px;
      text-align: center;
      text-transform: uppercase;
      width: 50px;
    }
  </style>
  <script>
    function validateForm() {

     !namepattern=/(\w|\s|[\.\'-])+/ ;
      !emailpattern=/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      var x = document.forms["jsregister"]["firstname"];
      if (x.value == "") {
        alert("Please enter the First name.");
        x.focus();
        return false;
      }
      else if (x.value.length > 20) {
        alert("First name cannot be greater than 20 characters.");
        x.value = "";
        x.focus();
        return false;
      }
      else if ((!namepattern.test(x.value))) {
        alert("First name should contain only alphabets.");
        x.value = "";
        x.focus();
        return false;
      }
      y = document.forms["jsregister"]["lastname"];
      if (y.value == "") {
        alert("Please enter the Last name.");
        y.focus();
        return false;

      }
      else if (y.value.length > 20) {
        alert("Last name cannot be greater than 20 characters.");
        y.value = "";
        y.focus();
        return false;
      }
      else if (!namepattern.test(y.value)) {
        alert("Last name should contain only alphabets.");
        y.value = "";
        y.focus();
        return false;
      }
      z = document.jsregister.email;
      if (!emailpattern.test(z.value)) {
        alert("Invalid email id.");
        z.value = "";
        z.focus();
        return false;
      }
    }

  </script>
</head>
<body>
<div id="register">
  <center>
    <form name="jsregister" action="register" onsubmit="return validateForm()" method="post">
    <h1><b>REGISTRATION FORM</b></h1>
      <fieldset>
      <p><input type="text" required value="firstname" onBlur="if(this.value=='')this.value='Enter your first name'" onFocus="if(this.value=='firstname')this.value='' "></p>
      <p><input type="text" required value="lastname" onBlur="if(this.value=='')this.value='lastname'" onFocus="if(this.value=='lastname')this.value='' "></p>
      <p><input type="text" required value="email" onBlur="if(this.value=='')this.value='email'" onFocus="if(this.value=='email')this.value='' "></p>
      <p><input type="text"  value="address" onBlur="if(this.value=='')this.value='address'" onFocus="if(this.value=='address')this.value=' '"></p>
      <p><input type="submit" value="register"></p>
    </fieldset>
  </form>
  </center>
</div>
</body>
</html>