<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION FORM</title>
</head>
<body>
<center>
<form name="myForm" action=""  method="get">
    <fieldset>
        <h2>REGISTRATION FORM</h2>
    <label for="first_name">First Name:</label><input type="text" name="first_name" id="first_name" required placeholder="enter your firstname" pattern="[a-zA-Z]{3,}" title="please enter atleast 3 letters"><br><br>
    <label for="last_name">First Name:</label><input type="text" name="last_name" id="last_name" required placeholder="enter your lastname" pattern="[a-zA-Z]{3,}" title="please enter atleast 3 letters"><br><br>
    <label for="email">Email:</label><input type="email" name="email" id="email" required placeholder="enter email address" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}"><br><br>
    <label for="address">Address:</label><textarea name="address" id="address"  pattern="[a-zA-Z]{6,}"></textarea><br><br>
    <lower><input type="submit" value="register"></lower>
 </fieldset>
</form>
</center>
</body>
</html>